/* ========= about info ========= */
.video{
    background: linear-gradient(0, rgb(48, 48, 48),rgb(0, 0, 0));
}
svg{
    width: 25px;
}
.slider{
    height: 100vh;
    /* margin-top: -50px; */
    position: relative;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.content>p{
    color: rgb(255, 255, 255);
    font-size: 23px;
    font-weight: 500;
    text-shadow: 4px 5px 20px rgb(0, 0, 0);
}

.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 70%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #000000 20%, transparent
    );
}
.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 600px;
    max-width: 80%;
    z-index: 1;
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content h2{
    font-size: 60px;
    margin: 0;
    color: rgb(255, 255, 255);
    text-shadow: 4px 5px 20px rgb(0, 0, 0);
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}
.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}
.arrows button:hover{
    background-color: #eee;
    color: black;
}
.thumbnail{
    position: absolute;
    bottom: 20px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(0.9);
}
.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
}
@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 10%;
    }
}
/* video */
.carousel-inner{
    display: flex;
    text-align: center;
}

/* ========= about data ========= */
.about-data{
    padding: 1rem 0 1.8rem;
}
.single-counter{
    position: relative;
    border: 2px solid rgb(215, 111, 36);
    border-radius: 10px;
    /* background: linear-gradient(0, rgb(255, 255, 255),rgb(212, 212, 212)); */
    width: 300px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 0px 0px 20px 5px rgb(239, 179, 137);
}
.single-counter:hover{
    /* background: linear-gradient(0, rgb(227, 227, 227),rgb(255, 255, 255)); */
    box-shadow: 0px 0px 20px 5px rgb(215, 111, 36);
}
    
.single-counter span{
    font-size: 3rem;
    background: rgb(215, 111, 36);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.single-counter h5{
    color: rgb(215, 111, 36);
    font-size: 25px;
}
