<section>
  <div class="slider">
    <div class="list">
      <div class="item active">
        <img src="/image/about/user.png">
        <div class="content">
          <p>GENSHIN IMPACT</p>
          <h2>>100M Người Dùng</h2>
          <p>
            thu hút hàng triệu người chơi với đồ họa
            đẹp và hệ thống nhân vật. Cộng đồng đa dạng
            và tính năng chơi đa người làm tăng trải nghiệm
            trong game.
          </p>
        </div>
      </div>
      <div class="item">
        <img src="/image/about/dowload.jpg">
        <div class="content">
          <p>GENSHIN IMPACT</p>
          <h2>>100M Lượt Tải</h2>
          <p>
            thu hút hàng trăm triệu lượt tải trên nhiều nền tảng kể từ khi ra
            mắt vào tháng 9 năm 2020, chứng tỏ sức hút lớn của game.
          </p>
        </div>
      </div>
      <div class="item">
        <img src="/image/about/winner.jpg">
        <div class="content">
          <p>GENSHIN IMPACT</p>
          <h2>8 Giải Thưởng</h2>
          <p>
            Tính đa dạng trong lối chơi, đồ họa đẹp mắt và sự hỗ trợ liên tục
            từ Mihoyo đã giúp game này trở thành một
            trong những hiện tượng nổi bật trong ngành công nghiệp game.
          </p>
        </div>
      </div>
      <div class="item">
        <img src="/image/about/doanhThu.png">
        <div class="content">
          <p>GENSHIN IMPACT</p>
          <h2>>4 Tỉ Dollars</h2>
          <p>
            Thu hút hàng triệu người chơi, game này đã đánh bại đối thủ
            với mô hình free-to-play và giao dịch trong game, mang về
            doanh thu ấn tượng.
          </p>
        </div>
      </div>
      <!-- <div class="item">
        <img src="/image/cauhoi/yeamiko.jfif">
        <div class="content">
          <p>GENSHIN IMPACT</p>
          <h2>Slider 05</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, neque?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ex.
          </p>
        </div>
      </div> -->
    </div>
    <!-- button arrows -->
    <div class="arrows">
      <button id="prev">
        < </button>
          <button id="next">></button>
    </div>
    <!-- thumbnail -->
    <div class="thumbnail">
      <div class="item active">
        <img src="/image/about/user.png">
        <!-- <div class="content">
          User
        </div> -->
      </div>
      <div class="item">
        <img src="/image/about/dowload.jpg">
        <!-- <div class="content">
          Name Slider
        </div> -->
      </div>
      <div class="item">
        <img src="/image/about/winner.jpg">
        <!-- <div class="content">
          Name Slider
        </div> -->
      </div>
      <div class="item">
        <img src="/image/about/doanhThu.png">
        <!-- <div class="content">
          Name Slider
        </div> -->
      </div>
      <!-- <div class="item">
        <img src="/image/cauhoi/yeamiko.jfif">
        <div class="content">
          Name Slider
        </div>
      </div> -->
    </div>
  </div>
</section>

<!-- video -->
<section class="video">
  <div class=" py-5 text-while text-center">
    <div class="col-lg-6 m-auto" style="color: white;">
      <h1>Video giới thiệu game</h1>
      <div class="line-welcome"></div>
      <h5>Tìm hiểu về tựa game qua những video thú vị</h5>
    </div>
  </div>
  <div class="col-lg-12">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div style="width: 55%; margin: auto;
    margin-bottom: 10px;" class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
          aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <iframe width="90%" height="770" src="https://www.youtube.com/embed/zQk1QHm2-Cw?si=YRFZsfnvbQMd3yRJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          
        </div>
        <div class="carousel-item">
          <iframe width="90%" height="770" src="https://www.youtube.com/embed/Z1SK-G1B6rY?si=jm6cfJZNEvr6Q8uT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="carousel-item">
          <iframe width="90%" height="770" src="https://www.youtube.com/embed/WIxkKExpu94?si=Y9P9sb05ldayAhHZ"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
        <div class="carousel-item">

          <iframe width="90%" height="770" src="https://www.youtube.com/embed/f_5-i0ZJfds?si=BGfFgrwVpuI2ejyf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
      <button style="height: 400px; width: 15%; margin-left: 45px;" class="carousel-control-prev" type="button"
        data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button style="height: 400px; width: 15%; margin-right: 45px;" class="carousel-control-next" type="button"
        data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

 <!--====== footer ======= -->
 <section class="news py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-9 m-auto text-center">
        <h1>Theo dõi tôi để nhận thông tin mới nhất</h1>
        <input type="text" class="px-3" placeholder="Hãy nhập Email của">
        <button class="btn-follow">OK</button>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-lg-11 m-auto">
        <div class="row">
          <div class="col-lg-3 py-3 info">
            <h2 class="pb-3">Menu</h2>
            <a class="menu" href="#!/" onclick="scrollToTop()">Home</a>
              <a class="menu" href="#!about">Giới thiệu</a>
              <a class="menu" href="#!question">Câu hỏi</a>
              <a class="menu" href="#!contact">Liên hệ</a>
              <a class="menu" href="#!login">Đăng nhập</a>
          </div>
          <div class="col-lg-3 py-3 info">
            <h2 class="pb-3">Kĩ Năng</h2>
            <a class="menu" href="https://www.java.com/en/">Java</a>
            <a class="menu" href="https://spring.io/projects/spring-boot/">Spring boot</a>
            <a class="menu" href="https://getbootstrap.com/">Bootstrap</a>
            <a class="menu" href="https://angular.io/">Angular</a>
            <a class="menu" href="#">JavaScript</a>
            <a class="menu" href="#">SQL Sever</a>
            <a class="menu" href="#">Git</a>
            <a class="menu" href="#">CSS</a>
            <a class="menu" href="#">HTML</a>
          </div>
          <div class="col-lg-3 py-3 info">
            <h2 class="pb-3">Địa chỉ</h2>
            <p>??? Nguyễn Thị Thập, Thanh Khê Tây, Liên Chiểu, Đà Nẵng, Việt Nam</p>
            <br>
            <p>SĐT : 0987654321</p>
            <p>Email: xuanchient033@gmail.com</p>
          </div>
          <div class="col-lg-3 py-3 info">
            <h2 class="pb-3">Liên hệ</h2>
            <span>
              <a class="info-me" href="https://www.facebook.com/profile.php?id=100050139920988" target="_blank"
                rel="noopener noreferrer">
                <i class="fa-brands fa-facebook"></i>
              </a>
            </span>
            <span>
              <a class="info-me" href="https://github.com/chienpromax" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-github"></i>
              </a>
            </span>
            <span>
              <a class="info-me" href="https://twitter.com/chien_cham_chi" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-square-x-twitter"></i>
              </a>
            </span>
            <span>
              <a class="info-me" href="https://www.facebook.com/profile.php?id=100050139920988" target="_blank"
                rel="noopener noreferrer">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <hr class="copyRight">
    <p class="text-center copyRight">copyRight ©2024 All right reserved | trang web này được tạo bởi ChiếnChămChỉ</p>
  </div>
</section>