<section class="login py-5 sec-2 show-animate">
  <video autoplay muted loop playsinline src="image/video/haianhem.mp4"> </video>
  <div class="container">
    <div class="row py-5">
      <div class="col-md-4"></div>
      <div class="col-lg-4 offset-lg-3 login-back">
        <form class="login-form" name="changeForm" novalidate>
          <h2>Đổi Mật Khẩu</h2>
          <div class="line-container">
            <div class="line"></div>
          </div>
          <input required name="password" type="password" ng-model="password" class="form-control"
            placeholder="Mật khẩu hiện tại">
          <span style="color: rgb(78,164,220); float: left; margin: 10px;"
            ng-show="changeForm.password.$error.required && changeForm.password.$touched">
            Vui lòng nhập mật khẩu
          </span>
          <input required name="password1" type="password" ng-model="password1" class="form-control"
            placeholder="Mật khẩu mới">
          <span style="color: rgb(78,164,220); float: left; margin: 10px;"
            ng-show="changeForm.password1.$error.required && changeForm.password1.$touched">
            Vui lòng nhập mật khẩu mới
          </span>
          <input required name="password2" type="password" ng-model="password2" class="form-control"
            placeholder="Nhập lại mật khẩu">
          <span style="color: rgb(78,164,220); float: left; margin: 10px;"
            ng-show="changeForm.password2.$error.required && changeForm.password2.$touched">
            Nhập lại mật khẩu
          </span>
          <div class="text-center">
            <button type="button" ng-click="changePassword()" class="btn">Xác nhận</button>
          </div>
          <div class="row login-link">
            <div class="col-md-4"><a href="#!forgotPassword">Quên mật khẩu</a></div>
            <div class="col-md-4 offset-md-4"><a href="#!info">Thông tin tài khoản</a></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>