<!----- contact ======= -->
<section class="contact pb-5">
  <div class="container py-5">
    <div class="card" style="border: none;">
      <div class="card-body">
        <h1 class="text-center py-3">Liên Hệ</h1>
        <h4 class="text-center">Nếu bạn gặp vấn đề khi sử dụng trang web, hãy liên hệ với tôi
          qua biểu mẫu.</h4>
        <div class="row">
          <div class="col-lg-5 col-md-12 col-sm-12 col-12" style="border-top:5px solid rgb(197,102,35);">
            <div class="row pt-3">
              <div class="col-lg-1 offset-1 col-md-2 col-sm-2 col-2">
                <span class="span"><i class="fa-solid fa-location-dot"></i></span>
              </div>
              <div class="col-lg-10 col-md-9 col-sm-9 col-9">
                <h3 class="font-weight-light">Địa chỉ liên hệ</h3>
                <p>??? Nguyễn Thị Thập, Thanh Khê Tây,<br>
                  Liên Chiểu, Đà Nẵng, <br>
                  Việt Nam</p>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-lg-1 offset-1 col-md-2 col-sm-2 col-2">
                <span class="span"><i class="fa-solid fa-phone"></i></span>
              </div>
              <div class="col-lg-10 col-md-9 col-sm-9 col-9">
                <h3>Số điện thoại</h3>
                <p>trần xuân chiến <br>
                  0987654321 <br>
                  Thứ 2 đến thứ 7: 7.00-22.00</p>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-lg-1 offset-1 col-md-2 col-sm-2 col-2">
                <span class="span"><i class="fa-solid fa-envelope"></i></span>
              </div>
              <div class="col-lg-10 col-md-9 col-sm-9 col-9">
                <h3>Email</h3>
                <p>xuanchient033@gmail.com</p>
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-md-12 col-sm-12 col-12" style="border-top:5px solid rgb(197,102,35);">
            <form>
              <div class="form-row row">
                <div class="form-group col-lg-6 col-md-12 col-sm-12 col-12">
                  <label class="label-contact" for="">Họ Tên</label>
                  <input type="text" class="form-control" placeholder="Họ Tên">
                </div>
                <div class="form-group col-lg-6 col-md-12 col-sm-12 col-12">
                  <label class="label-contact font-weight-light" for="">Email</label>
                  <input type="email" class="form-control" placeholder="Email">
                </div>
              </div>
              <label class="label-contact font-weight-light" for="">Số Điện Thoại</label>
              <input type="text" placeholder="Số Điện Thoại" class="form-control">
              <label class="label-contact font-weight-light" for="">Nội Dung</label>
              <textarea name="" id="" cols="10" rows="4" class="form-control mb-3"></textarea>
              <div class="text-center">
                <button class="btn " style="background-color: rgb(197,102,35);color: white;">Xác nhận</button>
              </div>
            </form>
          </div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.8269028312284!2d108.16970177518179!3d16.074469784605746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314218e6baf648af%3A0x7c6fdba7934f23ff!2zTmd1eeG7hW4gVGjhu4sgVGjhuq1wLCBUaGFuaCBLaMOqLCDEkMOgIE7hurVuZywgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1705224568169!5m2!1svi!2s"
            width="200" height="340"
            style="opacity: 0.8; border:5px solid rgb(197,102,35); margin-top: 10px; border-radius: 5px;"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<!----- contact map ======= -->
<section class="contact2 pb-5">
</section>