<!----- Quên Mk ======= -->
<section class="dangky py-5 sec-2 show-animate">
  <video autoplay muted loop playsinline src="image/video/haianhem.mp4"> </video>
  <div class="container">
    <div class="row py-5">
      <div class="col-md-4"></div>
      <div class="col-lg-4 offset-lg-3 dangky-back">
        <form name="forgotForm" class="dangky-form" ng-controller="forgotpasswordCtrl">
          <h2>Lấy lại mật khẩu</h2>
          <div class="line-container">
            <div class="line"></div>
          </div>
          <input name="Email" type="text" class="form-control" ng-model="email" placeholder="Email" required>
          <span style="color: rgb(78,164,220); float: left; margin: 10px;"
            ng-show="forgotForm.Email.$error.required && forgotForm.Email.$touched">
            Vui lòng nhập Email
          </span>
          <input name="uerName" type="text" class="form-control" ng-model="username" placeholder="Tên đăng nhập"
            required>
          <span style="color: rgb(78,164,220); float: left; margin: 10px;"
            ng-show="forgotForm.uerName.$error.required && forgotForm.uerName.$touched">
            Vui lòng nhập tên người dùng
          </span>
          <div class="text-center">
            <button class="btn" ng-click="getPass()">Xác nhận</button>
          </div>
          <div class="row dangky-link">
            <div class="col-md-4"><a href="#!login">Đăng nhập</a></div>
            <div class="col-md-4 offset-md-4"><a href="#!register">Đăng Ký ngay</a></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>